<footer class="footerThreads">
	<a class="subscribeThreads icon-rss" target="_blank" href="{{@blog.url}}/rss/"><span class="hidethisThreads">Subscribe!</span></a>
	<div class="footerTextThreads">All content copyright <a href="/">{{@blog.title}}</a> &copy; 2013 &bull; All rights reserved.</div>
	<div class="footerTextThreads">Proudly published with <a class="icon-ghost" href="http://tryghost.org" target="_blank">Ghost</a></div>
</footer>